.add-button{
    position: fixed; /*el boton queda encima del contenidp, flotante*/

    bottom: 30px;/*desde abajo 20px*/

    right: 35px;/*desde la derecha 25px*/

    background-color: green;/*color de fondo de el boton verde*/

    color: white;/*color de la crucita*/

    border: none;/*Quitarle bordes al boton*/

    border-radius: 50%;/*Haciendo que sea redondo*/

    width: 70px;
    height: 70px;/*Para que el boton este simetrico*/

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);/*para darle sombreado*/

    display: flex; /*Activamos FlexBox*/

    justify-content: center;/*Alineacion horizontal*/
    align-items: center;/*Alineacion vertical*/

    transition: transform 0.4s;/*Aanimacion que dura 0.4s*/

    z-index: 1001;/*para que el boton siempre quede encima de todo*/
}

.add-button:hover{
    transform: scale(1.1);/*que el boton crezca 1.1 su tamaño*/
}

.tabla-scroll{
    overflow-x: auto;
}